@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400%3B500&display=swap");

html {
  /* palette */
  --colors-bg-body: #2F1570;
  --colors-fg-body: #FFFFFF;
  --colors-fg-body-active: #FFDB00;

  --colors-bg-popper: #fff;
  --colors-fg-popper: #3A424D;
  --colors-fg-popper-active: #8341BD ;

  --colors-bg-editor-body: #ffffff;
  --colors-bg-editor-header: #FFFBE0;
  --colors-fg-editor-header: #3A424D;
}

html .sp-wrapper {
  --sp-colors-fg-active: #24292e !important;
  --sp-colors-fg-default: #959da5 !important;
  --sp-colors-fg-inactive: #E3D1F2 !important;
  --sp-colors-bg-active: #e4e7eb !important;
  --sp-colors-bg-default: #ffffff !important;
  --sp-colors-bg-default-overlay: #ffffff !important;
  --sp-colors-bg-input: #ffffff !important;
  --sp-colors-accent: #c8c8fa !important;
  --sp-colors-bg-error: #D75353 !important;
  --sp-colors-fg-error: #FFFFFF !important;

  --pg-colors-fg-accent: #8341BD;
  --pg-colors-bg-preview: #FFFFFF;
  --pg-colors-bg-header: #FFFBE0;

  --pg-shadow:
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0.43) 0 1px 2px 0,
    rgba(0, 0, 0, 0.45) 0 3px 7px 0,
    rgba(0, 0, 0, 0.48) 0 12px 30px 0;

  /* layout */
  --sp-border-radius: 8px !important;

  /* syntax */
  --theme-plain: #230F65;
  --theme-comment: #999999;
  --theme-keyword: #1588E0;
  --theme-tag: #A38D00;
  --theme-punctuation: #5225C1;
  --theme-definition: #83B692;
  --theme-property: #329BEC;
  --theme-static: #D75353;
  --theme-string: #5225C1;
}

html.dark {
  /* palette */
  --colors-bg-body: #200E4B;
  --colors-fg-body: #FFFFFF;
  --colors-fg-body-active: #FFDB00;

  --colors-bg-popper: #23272F;
  --colors-fg-popper: #FFFFFF;
  --colors-fg-popper-active: #8341BD ;

  --colors-bg-editor-body: #ffffff;
  --colors-bg-editor-header: #23272F;
  --colors-fg-editor-header: red;
}

html.dark .sp-wrapper {
  --sp-colors-fg-active: #FFFFFF !important;
  --sp-colors-fg-default: #999999 !important;
  --sp-colors-fg-inactive: #343434 !important;
  --sp-colors-bg-active: #343434 !important;
  --sp-colors-bg-default: #16181D !important;
  --sp-colors-bg-default-overlay: #16181D !important;
  --sp-colors-bg-input: #242424 !important;
  --sp-colors-accent: #6caedd !important;
  --sp-colors-bg-error: #841F1F !important;
  --sp-colors-fg-error: #FFFFFF !important;

  --pg-colors-fg-accent: #8341BD;
  --pg-colors-bg-preview: #16181D;
  --pg-colors-bg-header: #23272F;

  --pg-shadow:
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(255, 255, 255, 0.03) 0 0 0 1px,
    rgba(0, 0, 0, 0.43) 0 1px 2px 0,
    rgba(0, 0, 0, 0.45) 0 3px 7px 0,
    rgba(0, 0, 0, 0.48) 0 12px 30px 0;

  /* layout */
  --sp-border-radius: 8px !important;

  /* syntax */
  --theme-plain: #FFFFFF;
  --theme-comment: #999999;
  --theme-keyword: #39A0ED;
  --theme-tag: #FFDB00;
  --theme-punctuation: #FFFFFF;
  --theme-definition: #83B692;
  --theme-property: #7CC0F3;
  --theme-static: #D75353;
  --theme-string: #9C67CB;
}

@font-face {
  font-family: 'Moderat';
  font-weight: 400;
  src: url('/fonts/Moderat/Moderat-Trial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Moderat';
  font-weight: 700;
  src: url('/fonts/Moderat/Moderat-Trial-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Moderat';
  font-weight: 900;
  src: url('/fonts/Moderat/Moderat-Trial-Black.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--colors-bg-body);
  color: var(--colors-fg-body);
}

body {
  scrollbar-gutter: stable;
}

body,
.pg-header,
.pg-button,
.sp-overlay,
.sp-wrapper,
.sp-code-editor,
.sp-error,
.pg-header-arrow,
.cm-line,
.cm-line > span,
.cm-gutterElement,
.sp-preview-container iframe,
.sp-layout > :not(:first-child)::before {
  transition: background-color .4s ease, color .4s ease;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sp-colors-fg-default);
  border-radius: 9999px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  border-left: none;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-track {
  background-color: var(--colors-bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
