.sp-wrapper {
  color-scheme: inherit;
  border-radius: var(--sp-border-radius);
  background-color: var(--sp-colors-bg-default);
  box-shadow: var(--pg-shadow);
}

.pg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pg-colors-bg-header);
  border-bottom: 1px solid var(--sp-colors-fg-inactive);
  border-radius: var(--sp-border-radius) var(--sp-border-radius) 0 0;
}

.pg-actions {
  display: flex;
  padding: 0 16px;
  gap: 16px;
}

.pg-button {
  border: none;
  background: inherit;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: var(--sp-colors-fg-active);
  font-family: inherit;
  text-decoration: none;
}

.pg-button:focus {
  outline: none;
}

.pg-button:hover {
  color: var(--pg-colors-fg-accent);
}

.pg-button svg {
  margin-right: 8px;
}

.sp-tabs-scrollable-container {
  padding: 0 8px;
}

.sp-tabs {
  border-bottom: none;
}

.sp-tab-button {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.sp-tabs, .sp-tab-button:hover {
  background: none !important;
}

.sp-tabs .sp-tab-button {
  color: var(--sp-colors-fg-active);
  padding: 0 8px;
  border-bottom: 2px solid transparent;
}

.sp-tabs .sp-tab-button:hover {
  color: var(--pg-colors-fg-accent);
}

.sp-tabs .sp-tab-button[data-active='true'] {
  color: var(--pg-colors-fg-accent);
  border-bottom: 2px solid var(--pg-colors-fg-accent);
}

.sp-preview-container iframe {
  background-color: var(--pg-colors-bg-preview);
}

.sp-loading {
  background-color: var(--pg-colors-bg-preview);
}

.sp-cube-wrapper {
  pointer-events: none;
  background-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2.5);
  opacity: .25;
}

.sp-stack .sp-code-editor,
.sp-tabs .sp-tabs-scrollable-container {
  overflow: hidden;
}

.sp-code-editor .cm-errorLine {
  background-color: rgba(255, 107, 99, 0.10);
  position: relative;
}

.sp-code-editor .cm-errorLine:after {
  position: absolute;
  right: 8px;
  top: 0;
  content: '\26A0';
  font-size: 22px;
  line-height: 16px;
  color: #ff3d3d;
}

.sp-wrapper ::-webkit-scrollbar-track {
  border-left: none;
}

.sp-layout {
  border: none;
  border-radius: 0 0 var(--sp-border-radius) var(--sp-border-radius);
  flex-wrap: nowrap;
}

@media (max-width: 1024px) {
  .sp-layout {
    flex-direction: column;
  }
  .sp-layout > .sp-stack {
    --sp-layout-height: 50vh;
  }
}

.sp-layout > :not(:first-child) {
  border-top: none;
  margin: 0;
}

.sp-cm {
  -webkit-text-size-adjust: none !important;
  padding: 0;
}

.sp-cm .cm-scroller {
  overflow: auto;
  padding: 18px 0;
}
