version: 2
registries:
  npm-registry-npm-pkg-github-com:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: '${{secrets.NPM_REGISTRY_NPM_PKG_GITHUB_COM_TOKEN}}'

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    registries:
      - npm-registry-npm-pkg-github-com
