:root,
:host,
.mb-theme-light {
  color-scheme: light;

  /*
   * Theme tokens
   */
  --mb-color-text: #A09FA6;
  --mb-color-text-on-primary: #EDEDEF;

  --mb-color-primary: #6E56CF;
  --mb-color-highlight: #FFEF5C;
  --mb-color-warning: #FFB224;
  --mb-color-danger: #E54D2E;
  --mb-color-success: #46A758;
  --mb-color-accent-1: #AB4ABA;
  --mb-color-accent-2: #12A594;
  --mb-color-accent-3: #F76808;
  --mb-color-accent-4: #05A2C2;
  --mb-color-accent-5: #D6409F;
  --mb-color-overlay: #08090C50;

  --sl-color-neutral-0: #1a1a1e;
  --sl-color-neutral-50: #242428;
  --sl-color-neutral-100: #2c2c31;
  --sl-color-neutral-200: #36363b;
  --sl-color-neutral-300: #43434a;
  --sl-color-neutral-400: #56565f;
  --sl-color-neutral-500: #6c6c74;
  --sl-color-neutral-600: #8e8e9a;
  --sl-color-neutral-700: #b6b6be;
  --sl-color-neutral-800: #d3d3d9;
  --sl-color-neutral-900: #e8e8ec;
  --sl-color-neutral-950: #f2f2f2;
  --sl-color-neutral-1000: #ffffff;
}
