name: Release To Discussions

on:
  release:
    types: [created, edited, deleted]

concurrency: release-discussion-action

jobs:
  publish-release-notes:
    name: Publish Release Notes
    runs-on: ubuntu-latest

    steps:
      - name: publish discussion
        uses: magicbell/release-discussion-action@main
        with:
          repo: magicbell/community
          category: product-changelog
          cycle: week
        env:
          GITHUB_TOKEN: ${{ secrets.BELLA_ACTION_TOKEN }}
